*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
   
}

#center {
    width: 400px;
    height: 200px;
    border: 2px solid ;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}