*{
  margin: 0;padding: 0;
  text-align: center;
  font-size: 14px;
}

h1{
  background-color: #000;
  color: white;
  height: 5rem;
  line-height:5rem;
  font-size:3.3rem;
}

.chooice{
  font-size: 6rem;
  display: inline-flex;
  padding: 1.01rem;
  cursor: pointer;
  border: 1px solid black;
  margin: 15px;
  border-radius: 50%;
  background-color: rgb(4, 0, 0);
}
.chooice:hover{
  opacity: .8;
  box-shadow: 0px 0px 0px 2px rgb(96, 96, 96);
}

.score-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.score-board{
  text-align: center;
  width:400px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 54px;
  font-weight: 800;
}

#msg{
  background-color: #000;
  color: white;
  display: inline; 
  font-size: 3.6rem;
  padding: .8rem;
  position: relative;
  bottom: 15px;
  border-radius: 1rem;
}